<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <title>{{ page.title }}</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="An independent designer building ridiculously simple Internet tools.">
	<meta name="author" content="Caleb Jolliffe">

	<meta name="og:site_name" content="Caleb Jolliffe">
	<meta name="og:url" content="https://calebjolliffe.co">
	<meta name="og:description" content="An independent designer building ridiculously simple Internet tools.">
	<meta name="og:image" content="/assets/images/index.png">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="/assets/images/index.png">
	<meta name="twitter:site" content="@calebjolliffe">
	<meta name="twitter:creator" content="@calebjolliffe">
	<meta name="twitter:title" content="Caleb Jolliffe">
	<meta name="twitter:description" content="An independent designer building ridiculously simple Internet tools.">

    <link rel="canonical" href="https://calebjolliffe.co">
	<link rel="icon" href="/assets/images/clbrrn.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/assets/style.css" type="text/css">
	<link rel="alternate" href="/rss/" type="application/atom+rss" title="Caleb Jolliffe">
</head>

<body>
    <div class="site">
        <div class="title">
            <span>
                <a href="/"><b>Caleb Jolliffe</b></a>
            </span>
            <span style="float:right;">
                <a href="https://digitalbeacon.co/report/calebjolliffe-co" target="_blank"><b>CO2: 0.021g</b></a>
            </span>
            <br>
            An independent designer building ridiculously<br>simple tools for the Internet.
        </div>

        {{ content }}

        <div class="footer">
            <div class="contact">
                <p>
                    Caleb Jolliffe<br>
                    calebjolliffe@proton.me<br>
                </p>
            </div>
            <div class="contact">
                <p>
                    Get updates by <a href="/RSS/">RSS</a> or <a href="https://x.com/calebjolliffe">X</a>, email coming soon<br>
                    Also consider <a href="https://ko-fi.com/calebjolliffe" target="_blank">supporting my work</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>